body {
font-family: 'Special Elite', cursive!important;
background-image: url('https://unsplash.imgix.net/45/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg?q=75&fm=jpg&auto=format&s=98e65d0d3f8fcc55b075259021149508');
}

#colors {
    margin: 30px 0 10px 0;
}

.color_choice {
    height: 20px;
    width: 30px;
    display: inline-block;
    margin: 0 20px 0 0;

}

.jumbotron {
 font-family: 'Special Elite', cursive!important;
 background-color: rgba(255, 255, 255, 0.5)!important;
}

.home {
 margin-top: 100px;
 margin-bottom: 20px;
 font-family: 'Special Elite', cursive!important;
}