{% extends "base_template.html" %}
{% load bootstrap_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <script src="/static/js/index.js"></script>

    <div class="row">
    <div class="col-lg-6 col-lg-offset-3 jumbotron" style="margin-bottom: 20px;">
    <form method="post" action="">
    <legend>Login</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="submit" value="Login">
    </form>
        </div>
    </div>
{% endblock %}