{% extends "base_template.html" %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}

{% block content %}
<script src="/static/js/index.js"></script>

<div id="colors"></div>
<button class="glyphicon glyphicon-star">Star</button>
<button class="glyphicon glyphicon-map-marker">Marker</button>
<button class="glyphicon glyphicon-plane">Airport</button>
<button class="glyphicon glyphicon-tree-conifer">Park</button>
<button class="glyphicon glyphicon-tree-deciduous">Park2</button>
<button class="glyphicon glyphicon-cutlery">Restaurant</button>
    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add Journey">
    </form>

{% endblock %}