{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
<link rel="stylesheet" href="/static/css/mfglabs_iconset.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title></title>
    {% block header %}
    {% endblock header %}
</head>
<body>

{% block content %}
{% endblock content %}
</body>
</html>