{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="/static/css/reset.min.css"
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
<link rel="stylesheet" href="/static/css/mfglabs_iconset.css">
<link href='http://fonts.googleapis.com/css?family=Poiret+One|Josefin+Sans:300|Josefin+Slab|Dancing+Script|Playball|Special+Elite' rel='stylesheet' type='text/css'>
    <title></title>
    {% block header %}
    {% endblock header %}
</head>
<body>
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Project name</h3>
      </div>
{% block content %}
{% endblock content %}
</body>
</html>