{% extends "base_template.html" %}
{% load bootstrap_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <script src="/static/js/index.js"></script>
    <div class="row">
    <div class="col-lg-6 col-lg-offset-3 jumbotron" style="margin-bottom: 20px;">
    <form enctype="multipart/form-data" method="post" action="">
    <legend>Edit your Journey</legend>
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <input type="submit" value="Add Journey">
    </form>
        </div>
    </div>

        <div class="row">
    <div class="col-lg-6 col-lg-offset-3" style="margin-bottom: 20px;">
        <legend>Customize your pointer</legend>
<div id="colors"></div>
 <div>
<button class="glyphicon glyphicon-star">Star</button>
<button class="glyphicon glyphicon-map-marker">Marker</button>
<button class="glyphicon glyphicon-plane">Airport</button>
<button class="glyphicon glyphicon-tree-conifer">Park</button>
<button class="glyphicon glyphicon-tree-deciduous">Park2</button>
<button class="glyphicon glyphicon-cutlery">Restaurant</button>
        </div>
        </div>
        </div>
</div>


{% endblock %}