{% extends "base_template.html" %}
    {% block header %}
<meta charset=utf-8 />
<title>A simple map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <style>
  #map { position:absolute; top:50px; bottom:100px; width:100%; border: 8px solid white;}
</style>
    {% endblock header %}

{% block content %}

<div id='map'></div>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiaGFubmEzNDM0MyIsImEiOiJzOFVtNXFVIn0.4STR7ZKukBpKJUXxwqKGzg';
var map = L.mapbox.map('map', 'hanna34343.jni0cknp').setView([13.404954, 52.520007], 2);

{% for journey in journeys %}
L.mapbox.featureLayer({
    type: 'Feature',
    geometry: {
        type: 'Point',
        coordinates: [
            {{ journey.longitude }},
            {{ journey.latitude }}
        ]
    },
    properties: {
        title: "{{ journey.title }}",
        description: '{{ journey.description }} <img src="{{ url }}{{ journey.main_image }}" width="100px" height="100px">',

        'marker-size': 'large',
        'marker-color': '{{ journey.marker_color }}',
        'marker-symbol': '{{ journey.marker_symbol }}'
    }
}).addTo(map);
{% endfor %}
</script>

{% endblock content %}