{% extends "base_template.html" %}
{% load bootstrap_tags %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <script src="/static/js/index.js"></script>

    {% for journey in journeys %}
    <div class="row jumbotron" style="margin-top: 50px">
        <div class="col-lg-2 col-lg-offset-2">
            <img class="img-circle" src="{{ url }}{{ journey.main_image }}" style="width: 140px; height: 140px;">
            </div>
        <div class="col-lg-4" >
        <a href="{% url 'view_journey' journey.id %}">{{ journey.title }}</a>
        <p>{{ journey.summary }}</p>
        </div>
    <div class="col-lg-4" >
        <ul>
                        <a href="{% url 'view_journey' journey.id %}"><button type="button" class="btn btn-primary navbar-btn">View</button></a>
            <a href="{% url 'edit_journey' journey.id %}"><button type="button" class="btn btn-warning navbar-btn">Edit</button></a>
           <a href="{% url 'remove_journey' journey.id %}"><button type="button" class="btn btn-default navbar-btn">Remove</button></a>
        </ul>
        </div>
        </div>
    {% endfor %}


{% endblock %}