{% extends "base_template.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
        <script src="/static/js/index.js"></script>
    <div class="row jumbotron" style="margin-top:100px; ">
    <div class="col-lg-2 col-lg-offset-2">
    {% if journey.main_image %}
<img src="{{ url }}{{ journey.main_image }}" width="200px" height="300px">
    {% endif %}
    </div>
    <div class="col-lg-4">
<legend>{{ journey.title }}</legend>
<p>{{ journey.city }}, {{ journey.country }}</p>
{{ journey.summary }}
    </div>
    </div>
     <div class="row jumbotron">
    <div class="col-lg-8 col-lg-offset-2" style="margin-top: 50px;">
        {{ journey.description }}
    </div>
    </div>
    <div class="row">
    <div class="col-lg-8 col-lg-offset-2" style="margin-top: 50px;">
    {% if journey.image_1  %}
    <img src="{{ url }}{{ journey.image_1 }}" class="img-circle" width="200px" height="200px">
    {%  endif %}
    {% if journey.image_2  %}
    <img src="{{ url }}{{ journey.image_2 }}" class="img-circle" width="200px" height="200px">
    {% endif %}
    {% if journey.image_3  %}
    <img src="{{ url }}{{ journey.image_3 }}" class="img-circle" width="200px" height="200px">
    {% endif %}
    {% if journey.image_4  %}
    <img src="{{ url }}{{ journey.image_4 }}" class="img-circle" width="200px" height="200px">
    {% endif %}
    {% if journey.image_5  %}
    <img src="{{ url }}{{ journey.image_5 }}" class="img-circle" width="200px" height="200px">
    {% endif %}
    <br>
    <div style="float:right;">
     <a href="{% url 'edit_journey' journey.id %}"><button type="button" class="btn btn-warning navbar-btn">Edit</button></a>
     <a href="{% url 'remove_journey' journey.id %}"><button type="button" class="btn btn-default navbar-btn">Remove</button></a>
    </div>
    </div>
    </div>

{% endblock %}
